@import "tailwindcss";

body {
  background-color: var(--color-darker);
}

@theme {
  --color-darker: #121217;
  --color-dark: #17171d;
  --color-darkless: #252429;
  --color-black: #1f2d3d;
  --color-steel: #273444;
  --color-slate: #3c4858;
  --color-muted: #8492a6;
  --color-smoke: #e0e6ed;
  --color-snow: #f9fafc;
  --color-white: #ffffff;
  --color-red: #ec3750;
  --color-orange: #ff8c37;
  --color-yellow: #f1c40f;
  --color-green: #33d6a6;
  --color-cyan: #5bc0de;
  --color-blue: #338eda;
  --color-purple: #a633d6;
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-elevated: var(--color-white);
  --color-sheet: var(--color-snow);
  --color-sunken: var(--color-smoke);
  --color-border: var(--color-smoke);
  --color-primary: #ec3750;
  --color-secondary: #8492a6;
  --color-accent: #5bc0de;
  --color-twitter: #1da1f2;
  --color-facebook: #3b5998;
  --color-instagram: #e1306c;
}
